<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleDisplayName</key>
    <string>Velto</string>
    <key>CFBundleExecutable</key>
    <string>Velto</string>
    <key>CFBundleIdentifier</key>
    <string>com.face.myapp</string>
    <key>CFBundleIconFile</key>
    <string>Velto</string>
    <key>CFBundleIconName</key>
    <string>Velto</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>Velto BetterFinder</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>velto-betterfinder</string>
            </array>
        </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Velto</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>26.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>Velto 需要访问 Finder 来读取当前选中文件或窗口路径,用于增强Finder的打开与拷贝路径功能。</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>Velto 需要辅助功能权限来监听右键手势并发送快捷键。</string>
    <key>NSInputMonitoringUsageDescription</key>
    <string>Velto 需要输入监控权限来接收全局右键手势。</string>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Velto 需要屏幕录制权限来抓取窗口缩略图,在窗口切换器里显示。</string>
</dict>
</plist>
